.admission-documents {

}

.admission-documents__description {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  color: $dark;
}

.admission-documents__sections {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
}

.admission-documents__section {
  width: 45%;
  display: flex;
  padding-bottom: 25px;
}

.admission-documents__section-icon {
  width: 10%;
  text-align: left;
  padding-top: 5px;
}

.admission-documents__section-data {
  width: 85%;
}

.admission-documents__section-title {
  font-size: 24px;
  line-height: 28px;
}
