.first-higher {
  width: 100%;
  display: flex;
}

.first-higher__sidebar {
  width: 25%;
  background-color: #F3F3F3;
  @media only screen and (max-width: $breakpoint_tablet) {
    display: none;
  }
}

.first-higher__content {
  width: 75%;
  @media only screen and (max-width: $breakpoint_tablet) {
    width: 100%;
  }
}
