.training-section__icons {
  padding: 45px 0;
  @media only screen and (max-width: $breakpoint_tablet) {
    padding-bottom: 0px;
  }
}

.training-section__additionally {
  font-size: 15px;
  line-height: 18px;
  color: $dark_blue;
}
