.about-university {
  width: 100%;
  display: flex;
  @media only screen and (max-width: $breakpoint_tablet) {
    padding-top: 80px;
  }
}

.about-university__sidebar {
  width: 25%;
  background-color: #F3F3F3;
  @media only screen and (max-width: $breakpoint_tablet) {
    display: none;
  }
}

.about-university__content {
  width: 75%;
  @media only screen and (max-width: $breakpoint_tablet) {
    width: 100%;
  }
}
