.specialties-section__list {
  color: blue;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.specialties-section__item {
  width: 250px;
  height: 350px;
  margin: 0 10px;
  margin-top: 40px;
}

.specialties-section__item_hidden {
  @media only screen and (max-width: $breakpoint_mini_laptop) {
    display: none;
  }
  @media only screen and (max-width: $breakpoint_big_tablet) {
    display: block;
  }
}
