.requalification {
  width: 100%;
  display: flex;
  @media only screen and (max-width: $breakpoint_tablet) {
    padding-top: 80px;
  }
}

.requalification__sidebar {
  width: 25%;
  background-color: #F3F3F3;
  @media only screen and (max-width: $breakpoint_tablet) {
    display: none;
  }
}

.requalification__content {
  width: 75%;
  @media only screen and (max-width: $breakpoint_tablet) {
    width: 100%;
  }
}

.section-requalification__icons {
  padding: 45px 0;
  @media only screen and (max-width: $breakpoint_tablet) {
    padding-bottom: 0px;
  }
}

.requalification-profiles-list {
  width: 85%;
  margin: 30px 0;
  @media only screen and (max-width: $breakpoint_tablet) {
    width: 100%;
  }
}
