$grey: #777777;
$blue: #1405F8;
$light_blue: #5E77FF;
$transparent_blue: rgba(94, 119, 255, 0.2);
$dark_blue: #0018AB;
$navy: #0C0395;
$orange: #FFF7A5;
$light_grey: #ECEAEA;
$dark: #4A4A4A;
$second_grey: #F3F3F3;

$shadow: 0 0.5px 3px rgba(119, 119, 119, 0.5), 0 0px 8px rgba(0, 0, 0, 0.2);
