.button {
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button_bordered {
    border: 1px solid;
    background-color: white;
}

.button_application {
  margin-top: 10px;
  background-color: blue;
  color: white;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 4px;
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  @media only screen and (max-width: $breakpoint_mobile) {
    font-size: 12px;
    line-height: 15px;
  }

  .button_application__icon {
    padding-right: 10px;
  }
}

.button_application_hovered {
  &:hover {
    background-color: $navy;
  }
}
