.buttons-toggle {
  text-transform: uppercase;
  @media only screen and (max-width: $breakpoint_mobile) {
    width: 100%;
  }
}

.buttons-toggle__item {
  min-width: 102px;
  border: 1px $light_grey solid;
  padding: 9px 23px;
  color: $grey;
  @media only screen and (max-width: $breakpoint_mobile) {
    width: stretch;
  }
}

.button_toggle_active {
  background-color: $blue;
  color: white;
}

.buttons-toggle__item_hovered:not(.button_toggle_active) {
  &:hover {
    background-color: $transparent_blue;
  }
}
