.form {
  width: 100%;
  padding: 30px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__line {
  width: 560px;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: $breakpoint_mobile) {
    width: calc(100% - 40px);
    padding: 0 20px;
    flex-direction: column;
  }
}

.form__line_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item_half-width {
  width: fit-content;
}

.form__item_full-width {
  width: 100%;
}

.form__date-picker {
  padding: 20px 0;
}

.form__radio-buttons {
  margin: 10px 0;
}

.form__radio-button {
  padding-right: 20px;
}

.form__select {
  width: 200px;
  margin-top: 10px;
}

.form__radio-buttons_inline {
  display: flex;
  @media only screen and (max-width: $breakpoint_mobile) {
    display: flex;
    flex-direction: column;
  }
}

.form__radio-buttons_column {
  display: flex;
  flex-direction: column;
}

.form__radio-buttons_column .form__radio-button {
  margin: 6px 0;
}

.form__radio-buttons_inline .form__radio-button {
  @media only screen and (max-width: $breakpoint_mobile) {
    margin: 6px 0;
  }
}

.form__label {
  font-size: 20px;
  font-weight: 24px;
  font-weight: bold;
  color: $dark;
  margin: 8px 0;
}

.form__input {
  width: 248px;
  height: 32px;
  font-size: 17px;
  line-height: 20px;
  border: 1px $border_grey solid;
  border-radius: 4px;
  color: $dark;
  padding-left: 10px;
  margin: 5px 0;
}

.form__separator {
  width: 100%;
  height: 1px;
  background-color: $light_grey;
  margin: 20px 0;
}

.form__details {
  font-size: 18px;
  line-height: 22px;
  color: $grey;
}

.form__error-message {
  display: none;
  color: $border_error;
  font-size: 17px;
  line-height: 20px;
  padding: 10px 0;
}

.form__error-message_visible {
  display: block;
}

.form__submit {
  margin: 20px 0;
}
