.images-header {
  width: 100%;
  display: flex;
}

.images-header__picture {
  width: 25%;
  height: 40vh;
  object-fit: cover;
}

.images-header__picture_left {
  object-position: left;
}

.images-header__picture_right {
  object-position: right;
}

