.section {
  margin: 80px 0;
}

.section__legend {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  margin: 20px 0;
  @media only screen and (max-width: $breakpoint_tablet) {
    text-align: center;
  }
}

.section__side-legend {
  margin-top: 0px;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  @media only screen and (max-width: $breakpoint_tablet) {
    text-align: center;
  }
}


.content-section {
  width: 85%;
  margin: 60px;
  @media only screen and (max-width: $breakpoint_tablet) {
    margin: auto;
    margin-top: 30px;
  }
}

.content-section__legend {
  padding-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
}

.content-section__list-text {
  padding: 5px 0;
  margin: 0;
}
