.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  padding-left: 20%;
  padding-right: 5%;
  @media only screen and (max-width: $breakpoint_mini_laptop) {
    padding-left: 5%;
  }
}

.sidebar__icon {
  width: 10%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: $breakpoint_big_tablet) {
    display: none;
  }
}

.sidebar__link {
  padding: 15px;
  display: flex;
  font-size: 17px;
  line-height: 20px;
  color: $grey;
  cursor: pointer;
  fill: $grey;
}

.sidebar__link_active {
  padding: 15px;
  display: flex;
  font-size: 17px;
  line-height: 20px;
  color: black;
  fill: black;
}
