.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  padding-left: 25%;
  padding-right: 5%;
}

.sidebar__link {
  padding: 15px;
  display: flex;
  font-size: 17px;
  line-height: 20px;
  color: $grey;
  cursor: pointer;
}

.sidebar__link_active {
  padding: 15px;
  display: flex;
  font-size: 17px;
  line-height: 20px;
  color: black;
}
