.specialty-card {
  box-shadow: $shadow;
  cursor: pointer;
}

.specialty-card__image-conteiner {
  height: 50%;
}

.specialty-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.specialty-card__data {
  height: 40%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.specialty-card__education-form {
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  color: $grey;
  text-transform: uppercase;
}

.specialty-card__title {
  color: $blue;
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

.specialty-card__price {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: black;
}

