.specialties-list {
  width: 85%;
  padding: 25px 0;
  box-shadow: $shadow;
}

.specialties-list__department {
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
  padding: 10px 20px;
  padding-bottom: 25px;
}
