.specialties-list {
  width: 85%;
  padding: 25px 0;
  margin: 25px 0;
  box-shadow: $shadow;
  max-height: 500px;
  overflow-y: auto;
  @media only screen and (max-width: $breakpoint_tablet) {
    width: 100%;
  }
}

.specialties-list__department {
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
  padding: 10px 20px;
  padding-bottom: 25px;
}

.specialties-list__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
